{% load static %}
<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="{% static 'assets/img/scipion-portal-logo.png' %}" alt="Scipion Portal logo" class="brand-image" style="opacity: .8">
      <span class="brand-text font-weight-light">Scipion Portal</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      {% if user.is_authenticated %}
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <i class="custom-user-img-green fas fa-user"></i>
        </div>
        <div class="info">
          <a class="d-block">
            {{ user.email }} - Logout
          </a>
        </div>
      </div>
      {% else %}
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <i class="custom-user-img-gray fas fa-user"></i>
        </div>
        <div class="info">
          <a class="d-block" href="{% url 'oidc_authentication_init' %}">
            Login
          </a>
        </div>
      </div>
      {% endif %}


      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

          <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/instance-list" class="nav-link">
              <i class="nav-icon fas fa-box-open"></i>
              <p>
                Instances
              </p>
            </a>
          </li>

          <li class="nav-header">External Services</li>

          <li class="nav-item">
            <a target="_blank" rel="noopener noreferrer"
            href="https://datahub.egi.eu/" class="nav-link">
              <!--<i class="nav-icon fas fa-file"></i>-->
              <img src="{% static 'assets/img/od-logo.png' %}" alt="Onedata logo" class="nav-icon">
              <p>Datahub EGI</p>
            </a>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  