<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ ASSETS_ROOT }}/favicon.ico" type="image/x-icon">
    <link rel="canonical" href="https://appseed.us/adminlte" />

    <title>
        Scipion Portal - {% block title %}{% endblock %}
    </title>

    <!-- Shared CSS goes HERE  -->
    <!-- / Shared CSS  -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>

<body class="hold-transition {% block body_class %}{% endblock body_class %}">

    {% block content %}{% endblock content %}

    <!-- Shared JS goes HERE  -->
    <!-- / Shared JS  -->
    {% block javascripts %}{% endblock javascripts %}

</body>

</html>