{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Dashboard {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

{% block stylesheets %}
<!-- Specific Page CSS goes HERE  -->
<!-- / Specific Page CSS  -->
{% endblock stylesheets %}

{% block content %}

<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Privacy policy</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="/">
                                <i class="fas fa-home mr-1"></i>Home
                            </a>
                        </li>
                        <li class="breadcrumb-item active">Privacy policy</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card">
                        <div class="card-body">
                            <h3>Name of the Service</h3>
                            <p>Scipion Portal</p>

                            <h3>Description of the Service</h3>
                            <p>
                                The Scipion Portal service (hereinafter referred to as: "the service" or
                                "SP") provides a browser-based tool for interactive analysis of
                                data using storage of Masaryk University and its compute infrastructures based on the
                                Kubernetes technology.
                            </p>
                            <p>
                                This privacy notice describes how we, the Masaryk University (hereinafter
                                referred to as "we" or "the Data Controller"), collect and process data
                                by which you can be personally identified ("Personal Data") when you use
                                the service.
                            </p>
                            <h3>Data controller</h3>

                            <address class="vcard">
                                <span class="fn org">Masaryk University</span>
                                <span class="street-address">Žerotínovo nám. 617/9</span>
                                <span class="postal-code">601 77</span> <span class="locality">Brno</span>
                                <span class="country-name">Czechia</span>
                            </address>

                            <h3>Data Protection Officer</h3>

                            <address class="vcard">
                                <span class="fn org">Masaryk University</span>
                                <span class="street-address">Žerotínovo nám. 617/9</span>
                                <span class="postal-code">601 77</span> <span class="locality">Brno</span>
                                <span class="country-name">Czechia</span>
                                <span class="email">E-mail: <a
                                        href="mailto:poverenec@muni.cz">poverenec@muni.cz</a></span>
                            </address>

                            <h3>Jurisdiction and supervisory authority</h3>
                            <p>Jurisdiction: CZ, Czechia</p>

                            <h3>Personal data processed</h3>
                            <p>
                                In addition to any personal data incorporated in Scipion portal,
                                the following categories of personal data are processed by the Masaryk University as
                                part of providing
                                the aforementioned service:
                            </p>

                            <p>The service may process the following personal data:</p>

                            <strong>Identification data:</strong>
                            <ul>
                                <li>Identification number</li>
                                <li>E-mail address</li>
                                <li>Other: Affiliation, IP address</li>
                            </ul>

                            <strong>Behavioural data:</strong>
                            <ul>
                                <li>Usage data</li>
                                <li>Other: technical logs with timestamps</li>
                            </ul>

                            <strong>Data allowing conclusions on the personality:</strong>
                            <ul>
                                <li>Memberships</li>
                                <li>Other: membership information on roles, groups and communities</li>
                            </ul>

                            <h3>Purpose of the processing of personal data</h3>

                            <p>
                                The purpose of the collection, processing and use of the personal data
                                mentioned above is:
                            </p>

                            <ul>
                                <li>
                                    To provide the service functions, i.e. users to manage their notebooks
                                    on the resources they can access and allowing administrators to manage
                                    the service and the user groups.
                                </li>
                                <li>
                                    Identify the users or the administrators accessing the service and
                                    track usage of resources for accounting, security management and
                                    maintaining service stability and performance.
                                </li>
                            </ul>

                            <h3>Legal basis</h3>
                            The legal basis for processing personal data is: Legitimate interests
                            pursued by the controller or by a third party according to Art. 6 (1) (f)
                            GDPR.

                            <h3>Third parties to whom personal data is disclosed</h3>
                            <p>
                                Personal data will not be used beyond the original purpose of their
                                acquisition. If a forwarding to third parties should be necessary to
                                answer an inquiry or to carry out a service, the consent of the data
                                subject is considered to have been given when using the respective
                                function or service. In particular, the data you provide to us will not
                                be used for advertising purposes.
                            </p>

                            <p>
                                For the purpose given in this privacy policy, personal data may be
                                passed to the following third parties:
                            </p>

                            <h3>Data retention and deletion</h3>
                            <p>
                                The records of your use and technical log files produced by the service
                                components will be deleted or anonymised after, at most, 18 months.
                            </p>

                            <h3>Security</h3>
                            <p>
                                We take appropriate technical and organisational measures to ensure data
                                security and the protection against accidental or unlawful destruction,
                                accidental loss, alteration, unauthorised disclosure or access.
                            </p>

                            <h3>Acknowledgment</h3>
                            <p>This privacy policy is based on the
                                <a href="https://aarc-project.eu/policies/policy-development-kit/">AARC Policy
                                    development kit</a>
                                (licenced under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA
                                    4.0</a>)
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->

</div>

{% endblock content %}

{% block javascripts %}
<!-- Specific Page JS goes HERE  -->
<!-- / Specific Page JS  -->
{% endblock javascripts %}